services:
  monerod:
    image: ghcr.io/sethforprivacy/simple-monerod:latest
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    restart: unless-stopped
    container_name: monerod
    volumes:
      - bitmonero:/home/monero/.bitmonero
    ports:
      - 18080:18080
      - 18089:18089
    command:
      - "--rpc-restricted-bind-ip=0.0.0.0"
      - "--rpc-restricted-bind-port=18089"
      - "--public-node"
      - "--no-igd"
      - "--enable-dns-blocklist"
      - "--prune-blockchain"
      - "--ban-list=/home/monero/ban_list.txt"

  tor:
    image: ghcr.io/hundehausen/tor-hidden-service:latest
    container_name: tor
    restart: unless-stopped
    links:
        - monerod
    environment:
      - HS_MONEROD_TOR_SERVICE_HOSTS=monerod:18089:18089 # Format: HS_[NAME]=[HOST]:[PORT]:[VIRTUAL_PORT]
    volumes:
        - tor-keys:/var/lib/tor

  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
        - "/var/run/docker.sock:/var/run/docker.sock"

volumes:
  bitmonero:
  tor-keys:
